.displayProfile {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 180px 30px 30px 30px;
    padding: 20px;
}
.displayFollow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
}
.avatar{

}
.avatar img{
    border-radius: 80px;
    height: 160px;
}
.userLogin{
    text-decoration: none
}