.displayRepositoryPage{
    width: 600px;
    display: grid;
    padding: 20px;
    grid-gap: 5px;
    background-color: #ffffff;
    border-radius: 4px;

}
.displayRepositoryPage a{
    color: #0064ff;
    text-decoration: none;
    font: bold 16px Arial;
}
.displayRepositoryPage div{
    text-decoration: none;
    font: 14px Arial;
}